<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Jupiter Tests">
        <classes>
            <class name="com.automation.tests.SuccessTest"/>
            <class name="com.automation.tests.ContactTest"/>
            <class name="com.automation.tests.CartTest"/>
        </classes>
    </test>
</suite>